*.iml
.gradle
.kotlin
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/app/build
/.build-outputs
/captures
.externalNativeBuild
.cxx
local.properties
.env
debug.keystore
!APK_DOWNLOAD/
!APK_DOWNLOAD/app-debug.apk
!Apk_download/
!Apk_download/app-debug.apk



