*.iml
.gradle
.gradle/
**/.gradle/
.kotlin
.kotlin/
**/.kotlin/
/local.properties
local.properties
/.idea
.idea/
**/.idea/
.DS_Store
build
build/
/build
/app/build
app/build/
**/build/
.build-outputs
.build-outputs/
/.build-outputs
APK_DOWNLOAD
APK_DOWNLOAD/
/APK_DOWNLOAD
/captures
captures/
.externalNativeBuild
.externalNativeBuild/
.cxx
.cxx/
.env
debug.keystore
*.apk
*.ap_
*.aab
*.dex
*.class
llama.cpp
llama.cpp/
**/llama.cpp/
**/llama.cpp/**
cpp/
app/src/main/cpp/
app/llama.cpp/


